<%= form_with(model: [@account, account_transaction], local: true) do |form| %>
  <% if account_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account_transaction.errors.count, "error") %> prohibited this account_transaction from being saved:</h2>

      <ul>
        <% account_transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :transaction_type %>
    <%= form.select :transaction_type, options_for_select([["Select one please", ""], "deposit", "contribute", "transaction"]), class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :transaction_number %>
    <%= form.text_field :transaction_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
