<p id="notice"><%= notice %></p>

<h2>Account Transactions</h2>

<table class= "table table-bordered">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Transaction type</th>
      <th>Transaction number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account.account_transactions.each do |account_transaction| %>
      <tr>
        <td><%= account_transaction.amount %></td>
        <td><%= account_transaction.transaction_type %></td>
        <td><%= account_transaction.transaction_number %></td>
        <td>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li> <%= link_to 'View', account_transaction_path(account_transaction) %></li>
              <li> <%= link_to 'Edit', edit_account_transaction_path(account_transaction) %></li>
              <li><%= link_to 'Destroy', account_transaction_path(account_transaction), method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Make a New Account Transaction', new_account_account_transaction_path %>
