<%= form_for(account, as: :account, url: account.persisted? ? account_path(account) : accounts_path) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :balance %>
    <%= form.text_field :balance, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, options_for_select([["Select one please", ""], "active", "locked", "canceled"]), class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :parent_id %>
    <%= form.select :parent_id, options_for_select(["Select one please", ""] + @accountable.accounts.collect{ |u| [u.name, u.id, selected: u == account.parent] }) %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
