<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @account.parent_id %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<% if person_signed_in? %>
  <%= link_to 'Back', person_accounts_path(@current_user) %>
<% else %>
  <%= link_to 'Back', legal_person_accounts_path(@current_user) %>
<% end %>

 
